* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(./images/christmastree.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #282c34;
    color: #eb0c74;
}

.countdown {
    text-align: center;
    background-color: #444;
    padding: 40px 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    background-image: url(./images/snowflake.png);
    background-size: 100px;
    background-repeat: repeat;
}

.countdown h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.time {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.time div {
    font-size: 2rem;
    background-color: #555;
    padding: 20px 30px;
    border-radius: 10px;
    background-image: url(./images/tumblr_682b7cc5d12fd164fd1097eeaae4e5c9_96fd1618_500.gif);
    background-size: 200px;
    background-repeat: round;
}

.label {
    font-size: 0.9rem;
    color: #ddd;
    margin-top: 5px;
}